
@import url('https://fonts.googleapis.com/css?family=Righteous');

h4 {
    color: black;
}

.nb {
    
}

/*//remove background and border from navbar
.navbar-default {
    background: none;
    border: 0;
}

.nav {
    position: fixed;
    background-color: #260c2a;
    width: 160px;
    right: -190px;
    top: 0;
    bottom: 0;
    padding: 50px 10px 0 20px;
    z-index: 1;
}

.navbar-collapse {
    padding: 0;
}*/
/*override width:auto of navbar-collapse*/
@media (min-width:768px) {
    .navbar-collapse
{
    width: 100%;
}
}

.swap {
    color: red;
}

* {
    font-family: 'Righteous', cursive !important;
}

html {
    height: 100%
}
::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

.glow {
    font-size: 24px;
    color: #ffdf3e;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    cursor: not-allowed;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #ffdf3e, 0 0 20px #ffdf3e, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #ffdf3e, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

body {
    height: 100%;
}
.about-a {
    transform: translateX(-500px);
    transition: 1s;
}
.symbols-a {
    transform: translateX(-500px);
    transition: 1s;
}
.no-tr {
    transform: translateX(0px);
    transition: 1s;
}

/* Nav / Navbar Styles
===================================*/
.navbar {
    background: rgba(105,105,105,0.7);
    border-bottom: none;
    padding: 5px 0;
    transition-duration: 0.6s;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
}

/* jQuery Styles
===================================*/
.navbar-scroll {
    background: rgba(24,24,24,0.7);
    padding: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
}

.nav-dropdown-scroll {
    background: rgba(24,24,24,0.10);
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.navbar a {
    transition: 1s !important;
}

.navbar a:hover:not(.excl){
    color: black !important;
    background-color: white !important;
    border-radius: 20px !important;
    transition: 0.5s !important;
}
.navbar li a:hover:not(.excl){
    opacity:0.5 !important;
    margin:0 10px 0 10px !important;
    transition: 1s !important;
}

.excl #logged_ {
    transition: .5s;
}

.excl:hover #logged_ {
    color: gold !important;
}

.navbar li{
    transition: 1s;
}
 
#logged {
    color: white;
}

#logged_ {
    color: lightgoldenrodyellow;
    font-weight: bolder;
}

.alert.alert-server {
    margin-bottom: 0;
    border-radius: 0;
}

.alert button {
    transition: .5s;
}
.alert button:hover {
    color: red;
    transition: .5s;
}

.current {
    color: black !important;
    background-color: white !important;
    border-radius: 20px !important;
    transition: 0.5s !important;
    cursor: default;
}
