
body {
    background: #1f253c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.semi-nav {
    background: #3c4877;
    min-height: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
}

.coder {
    float: left;
    padding: 20px;
}

.coder a{
    padding: 10px;
    padding-right: 30px;
    color: white;
    font-weight: 600;
}

.coder a:hover .glyphicon{
    opacity: 1;
    color: red;
    transition: .5s;
}
a:hover .coder {
    background: green;
}

.coder .glyphicon {
    opacity: 0;
    transition: .5s;
}

.liner {
    background: #317bb2;
    max-height: 0;
    transition: .5s;
    overflow: hidden;
}

.liner-grow {
    max-height: 20px;
    transition: 1s;
}

.glyphicon {
    color: white;
}

.liner a:hover .glyphicon {
    color: gold;
    transition: .5s;
}

.liner .glyphicon {
    transition: .5s;
}
