
.about-gallery {
    background-color: rgba(255,255,255,.9);
    border: 5px solid rgb(128, 128, 128);
}

.about-item {
    margin: 10px 10px 10px 10px;
}

.about-bar {
    padding: 5px;
    margin: 0;
}
